.error {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  h1 {
    color: gray;
    text-align: center;
    line-height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  p {
    color: darkgoldenrod;
    font-size: 20px;
  }
}
